
/* -- Header Styles -- */

.header {
  padding: 12px;
  padding-bottom: 48px;
  background-color: var(--primary-500);
  box-shadow: var(--box-shadow);
}

.header .button {
  background-color: var(--primary-500);
  border: solid var(--primary-600);
}

.header .button:hover {
  background-color: var(--primary-400);
}

.header-section {
  display: block;
  width: fit-content;
  margin: 0px auto;
  margin-top: 24px;
}

.header-section .button {
  display: none;
}

.header-section nav {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.header-section nav a {
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  /* For some reason this is 4px bigger than it's 
    content at the bottom so, no need for padding-bottom */
  border-radius: 12px;
}

.header-section nav a:hover {
  background-color: var(--primary-400);
}

@media screen and (max-width: 360px) {

  /* Display header section menu button */
  .header-section .button {
    display: block;
  }

  /* Hides header top menu button */
  .header > .button {
    display: none;
  }
}

/* --- */