
/* -- Header Styles -- */

.header {
  padding: 12px;
  padding-bottom: 48px;
  background-color: var(--primary-500);
  box-shadow: var(--box-shadow);
}

.header button {
  background-color: var(--primary-500);
  font-size: 1.0rem;
  border: solid var(--primary-600);
  box-shadow: var(--btn-box-shadow);
}

.header button:hover {
  background-color: var(--primary-400);
}

.header-section {
  display: block;
  width: fit-content;
  margin: 0px auto;
  margin-top: 24px;
}

.header-section .button {
  display: none;
}

@media screen and (max-width: 360px) {

  /* Display header section menu button */
  .header-section .button {
    display: block;
  }

  /* Hides header top menu button */
  .header > .button {
    display: none;
  }
}

/* --- */