
/* -- Typography Styles -- */

* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  word-wrap: break-word;
}

label,
.button-text,
button {
  font-size: 1.2rem;
}

input,
textarea,
a,
p {
  font-size: 1.1rem;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.0rem;
}

.field-error {
  font-size: .9rem;
}

/* Media Queries */

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.6rem;
  }
  
  h2 {
    font-size: 2.2rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 360px) {

  label,
  .button-text,
  button {
    font-size: 1.1rem;
  }

  a,
  p,
  input,
  textarea {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.0rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

/* --- */