
/* -- Button Styles -- */

/* Overrides */

button {
  cursor: pointer;
  user-select: none;
}

button:focus,
button:active {
  outline: solid var(--secondary-900) 3px;
}

/* --- */

/* Custom */

.button {
  padding: 4px 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.button-close {
  background-color: transparent;
  padding: 4px;
  border-radius: 8px;
  color: white;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

/* --- */