
/* -- Dialog Styles -- */

.dialog {
  background-color: var(--primary-500);
  padding: 0px;
  width: 40%;
  border: none;
  box-shadow: var(--box-shadow);
}

.dialog-top {
  background-color: var(--primary-900);
  padding: 20px;
  color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-content {
  padding: 20px;
}

.dialog-close-btn:hover {
  background-color: var(--primary-700);
}

.dialog-close-btn:active {
  background-color: var(--primary-800);
}

/* --- */