
/* -- Dialog Styles -- */

dialog[open] {
  /* fadeIn is defined at the end of this file */
  animation: fadeIn var(--transition);
  -webkit-animation: fadeIn var(--transition);
}

/* Custom */

.dialog {
  padding: 0px;
  width: 40%;
  border: none;
  box-shadow: var(--box-shadow);
}

.dialog-top {
  background-color: var(--primary-900);
  padding: 20px;
  color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-content {
  margin: 24px 0;
}

.dialog-content form {
  width: 60%;
  margin: 0px auto;
}

.dialog-content label {
  margin-bottom: 12px;
}

.dialog-close-btn:hover {
  background-color: var(--primary-700);
}

.dialog-close-btn:active {
  background-color: var(--primary-800);
}

.dialog-actions {
  margin: 24px 24px;
  gap: 12px;
  display: flex;
  justify-content: flex-end;
}

.dialog-actions button {
  background-color: transparent;
  border: solid var(--primary-900);
}

.dialog-actions button:hover {
  background-color: var(--primary-700);
  border: solid var(--primary-700);
  color: white;
}

.dialog-actions button:active {
  background-color: var(--primary-500);
  border: solid var(--primary-500);
}

/* --- */

/* Keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* --- */

/* Media Queries */

@media screen and (max-width: 1200px) {

  .dialog {
    width: 60%;
  }

}

@media screen and (max-width: 940px) {
  
  .dialog {
    width: 80%;
  }

}

@media screen and (max-width: 360px) {

  .dialog {
    width: 100%;
  }

}

/* --- */